.cuerpo {
  width: 23%;
  background: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 12px 0 #dadcdd;
  margin-top: 20px;
  height: 100%;
  margin-right: 20px; }

.img {
  width: 200px;
  position: relative;
  top: -90px;
  filter: drop-shadow(0 25px 0px #e1d6f6); }

.titulo {
  text-align: center;
  color: #1d1e35;
  font-size: 25px;
  font-weight: 700; }

.pregunta {
  color: #4a4b5e;
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  padding: 20px 0; }

.parrafo {
  line-height: 17px;
  position: relative;
  top: -20px;
  opacity: 0;
  transition: top 0.4s, opacity 0.4s;
  z-index: 1; }
.parrafo p {
text-align: left !important; }
.parrafo a {
    color: #787887;
}
.parrafo a:hover {
    color: #3B93F2;
}
.parrafo a:focus {
    color: #3B93F2;
}
.parrafo.pricerange {
  height: 100px; }

.lista {
  list-style: none;
  padding: 0 15px; }

.item_header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2; }

.item {
  border-bottom: 1px solid #e6e6e9;
  width: 100%;
  cursor: pointer; }

.icon {
  color: #6d757a;
  transition: transform 0.4s; }

li {
  height: 54px;
  overflow: hidden;
  transition: all 0.4s; }

.active > .item_header > .pregunta {
  font-weight: bold; }

.active > .item_header > .icon {
  transform: rotate(180deg); }

.active > .parrafo {
  opacity: 1;
  top: 0; }



.productcontainer .forflex {
  max-width: 958px; }
  .productcontainer .forflex a {
    width: 32% !important; }

.secondpartheader .hamburgermenu input:focus {
  outline-offset: -2px; }

.secondpartheader .hamburgermenu #submitsearch {
  border: 1px solid #8a8686;
  margin-left: -82px;
  padding: 5px;
  border-radius: 19px;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 8px;
  padding-top: 4px;
  display: none;
  box-shadow: 0 0 1px black;
  margin-right: 110px; }

.secondpartheader .hamburgermenu #searchInput {
  width: 100%;
  border: 1px solid #6d757a;
  border-radius: 30px;
  font-size: 16px;
  background-color: white;
  background-image: url("https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/search-24.png");
  background-position: 10px 7px;
  background-repeat: no-repeat;
  padding: 8px 20px 8px 40px;
  -webkit-transition: width 0.8s ease-in-out;
  transition: width 0.8s ease-in-out;
  outline: none;
  opacity: 0.9; }
/* variables */

[slider] {
    position: relative;
    height: 14px;
    border-radius: 10px;
    text-align: left;
    margin: 45px 0 10px 0;
}

    [slider] > div {
        position: absolute;
        left: 13px;
        right: 15px;
        height: 14px;
    }

        [slider] > div > [inverse-left] {
            position: absolute;
            left: 0;
            height: 14px;
            border-radius: 10px;
            background-color: #CCC;
            margin: 0 7px;
        }

        [slider] > div > [inverse-right] {
            position: absolute;
            right: 0;
            height: 14px;
            border-radius: 10px;
            background-color: #CCC;
            margin: 0 7px;
        }

        [slider] > div > [range] {
            position: absolute;
            left: 0;
            height: 14px;
            border-radius: 14px;
            background-color: #1ABC9C;
        }

        [slider] > div > [thumb] {
            position: absolute;
            top: -7px;
            z-index: 2;
            height: 28px;
            width: 28px;
            text-align: left;
            margin-left: -11px;
            cursor: pointer;
            box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
            background-color: #FFF;
            border-radius: 50%;
            outline: none;
        }

    [slider] > input[type=range] {
        position: absolute;
        pointer-events: none;
        -webkit-appearance: none;
        z-index: 3;
        height: 14px;
        top: -2px;
        width: 100%;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        -moz-opacity: 0;
        -khtml-opacity: 0;
        opacity: 0;
    }

div[slider] > input[type=range]::-ms-track {
    -webkit-appearance: none;
    background: transparent;
    color: transparent;
}

div[slider] > input[type=range]::-moz-range-track {
    -moz-appearance: none;
    background: transparent;
    color: transparent;
}

div[slider] > input[type=range]:focus::-webkit-slider-runnable-track {
    background: transparent;
    border: transparent;
}

div[slider] > input[type=range]:focus {
    outline: none;
}

div[slider] > input[type=range]::-ms-thumb {
    pointer-events: all;
    width: 28px;
    height: 28px;
    border-radius: 0px;
    border: 0 none;
    background: red;
}

div[slider] > input[type=range]::-moz-range-thumb {
    pointer-events: all;
    width: 28px;
    height: 28px;
    border-radius: 0px;
    border: 0 none;
    background: red;
}

div[slider] > input[type=range]::-webkit-slider-thumb {
    pointer-events: all;
    width: 28px;
    height: 28px;
    border-radius: 0px;
    border: 0 none;
    background: red;
    -webkit-appearance: none;
}

div[slider] > input[type=range]::-ms-fill-lower {
    background: transparent;
    border: 0 none;
}

div[slider] > input[type=range]::-ms-fill-upper {
    background: transparent;
    border: 0 none;
}

div[slider] > input[type=range]::-ms-tooltip {
    display: none;
}

[slider] > div > [sign] {
    opacity: 0;
    position: absolute;
    margin-left: -11px;
    top: -39px;
    z-index: 3;
    background-color: #1ABC9C;
    color: #fff;
    width: 28px;
    height: 28px;
    border-radius: 28px;
    -webkit-border-radius: 28px;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
}

    [slider] > div > [sign]:after {
        position: absolute;
        content: '';
        left: 0;
        border-radius: 16px;
        top: 19px;
        border-left: 14px solid transparent;
        border-right: 14px solid transparent;
        border-top-width: 16px;
        border-top-style: solid;
        border-top-color: #1ABC9C;
    }

    [slider] > div > [sign] > span {
        font-size: 12px;
        font-weight: 700;
        line-height: 28px;
    }

[slider]:hover > div > [sign] {
    opacity: 1;
}