@keyframes animate {
  0% {
    background-position: left; }
  50% {
    background-position: right; }
  100% {
    background-position: right; } }

* {
  box-sizing: border-box; }

.shopping-cart {
  width: 750px;
  height: 423px;
  background: #ffffff;
  box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  display: flex;
  flex-direction: column; }

.title-card {
  height: 60px;
  border-bottom: 1px solid #e1e8ee;
  padding: 20px 30px;
  color: #5e6977;
  font-size: 18px;
  font-weight: 400; }

.item.shopping {
  padding: 20px 30px;
  height: 120px;
  display: flex; }
  .item.shopping:nth-child(3) {
    border-top: 1px solid #e1e8ee;
    border-bottom: 1px solid #e1e8ee; }

.buttons {
  position: relative;
  padding-top: 30px;
  margin-right: 60px; }

.delete-btn {
    display: inline-block;
    cursor: pointer;
    width: 18px;
    height: 17px;
    background: url("../img/delete-icn.svg") no-repeat center;
}

.like-btn {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 9px;
    left: 15px;
    background: url("../img/twitter-heart.png") no-repeat;
    width: 60px;
    height: 60px;
    background-size: 2900%;
}

.is-active {
  animation-name: animate;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  animation-timing-function: steps(28);
  animation-fill-mode: forwards; }

.image {
  margin-right: 50px; }

.description {
  padding-top: 10px;
  margin-right: 60px;
  width: 115px; }
  .description span {
    display: block;
    font-size: 14px;
    color: #43484d;
    font-weight: 400; }
    .description span:first-child {
      margin-bottom: 5px; }
    .description span:last-child {
      font-weight: 300;
      margin-top: 8px;
      color: #86939e; }

.quantity {
  padding-top: 20px;
  margin-right: 60px; }
  .quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484d;
    font-weight: 300; }

button[class*="btn"] {
  width: 30px;
  height: 30px;
  background-color: #e1e8ee;
  border-radius: 6px;
  border: none;
  cursor: pointer; }

.minus-btn img {
  margin-bottom: 3px; }

.plus-btn img {
  margin-top: -2px; }

button:focus {
  outline: 0; }

input:focus {
  outline: 0; }

.total-price {
  width: 83px;
  padding-top: 27px;
  text-align: center;
  font-size: 16px;
  color: #43484d;
  font-weight: 300; }

@media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden; }
  .item.shopping {
    height: auto;
    flex-wrap: wrap;
    justify-content: center; }
  .image {
    width: 100%;
    text-align: center;
    margin: 6px 0; }
    .image img {
      width: 50%; }
  .quantity {
    width: 100%;
    text-align: center;
    margin: 6px 0; }
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0; }
  .buttons {
    margin-right: 20px; } }

.shopping-card-container {
  max-width: 1270px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .shopping-card-container .title-card {
    font-size: 25px;
    font-weight: bold; }
    .shopping-card-container .amountcontainer {
        width: 25%;
        height:330px;
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
        .shopping-card-container .amountcontainer a {
            width: 100%;
            color: #86939E;
            padding: 15px 69px;
            font-size: 18px;
            border: 1px solid #d7d7d7;
            border-radius: 40px;
        }
    .shopping-card-container .amountcontainer .finish-order {
        padding: 15px 84px;
        background-color: #86939e;
        border: 1px solid #86939e;
        color: white;
    }
    .shopping-card-container .amountcontainer .amount {
        display: flex;
        justify-content: space-between;
        background: #86939e;
        border-radius: 10px;
    }
      .shopping-card-container .amountcontainer .amount .titleamount {
        margin-top: 35px; }
        .shopping-card-container .amountcontainer .amount .titleamount p {
          color: white;
          padding: 10px 20px;
          font-size: 20px; }
      .shopping-card-container .amountcontainer .amount .count {
        margin-top: 35px; }
        .shopping-card-container .amountcontainer .amount .count p {
          color: white;
          padding: 10px 20px;
          font-size: 20px; }

@media only screen and (max-width: 992px) {
  .shopping-card-container {
    flex-direction: column; }
    .shopping-card-container .amountcontainer {
      width: 55%;
      margin-top: 40px; } }
