.swal2-popup {
    background: #575555 !important;
}

.swal2-icon.swal2-success {
    color: white !important;
}

    .swal2-icon.swal2-success .swal2-success-ring {
        border: 0.25em solid white !important;
    }

    .swal2-icon.swal2-success [class^="swal2-success-line"] {
        background-color: white !important;
    }

.swal2-title,
.swal2-html-container {
    color: white !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.swal2-styled.swal2-confirm {
    background-color: #d5d0ca !important;
    color: #575555 !important;
}


    .swal2-styled.swal2-confirm:focus {
        box-shadow: none !important;
    }
