
<header>
    <div class="headercolor">
        <div class="firstpartheader">
            <div class="linkcontainer d-flex">
                <a asp-controller="Home" asp-action="Index" class="mainpage">Ana səhifə</a>
                <a asp-controller="Contact" asp-action="Index">Əlaqə</a>
                <p>|</p>
            </div>
            <div class="logocontainer">
                <i class="fab fa-facebook p-2"></i>
                <i class="fab fa-instagram p-2"></i>
                <i class="fab fa-twitter p-2"></i>
                <i class="fab fa-youtube p-2"></i>
                <i class="fab fa-linkedin-in p-2"></i>
                <i class="fab fa-whatsapp p-2"></i>
            </div>
        </div>
    </div>
    <div class="secondpartheader">
        <div class="hamburgermenu">
            <nav role="navigation" class="navigation">
                <div id="menuToggle">
                    <input type="checkbox" />
                    <span id="line"></span>
                    <span id="line"></span>
                    <span id="line"></span>
                    <ul id="menu">
                        <a href="">
                            <span class="icon-mobile"></span>
                            <p>Smartfon və Planşetlər</p>
                        </a>
                        <hr />
                        <a href="">
                            <span class="icon-washingmachine"></span>
                            <p>Böyük məişət texnikası</p>
                        </a>
                        <hr />
                        <a href="">
                            <span class="icon-display1"></span>
                            <p>Tv və Audio Sistemlər,Əyləncə</p>
                        </a>
                        <hr />
                        <a href="">
                            <span class="icon-laptop"></span>
                            <p class="comp">Komputer və Ofis Avadanlığı</p>
                        </a>
                        <hr />
                        <a href="">
                            <span class="icon-microwave"></span>
                            <p>Kiçik məişət texnikası</p>
                        </a>
                        <hr />
                        <a href="">
                            <span class="icon-headphones"></span>
                            <p>Aksesuar və İdman avadanlıqları</p>
                        </a>
                        <hr />
                    </ul>
                </div>
            </nav>
            <a asp-controller="Home" asp-action="Index">
                <img src="~/img/logo.png" alt="" />
            </a>
            @if (ViewContext.RouteData.Values["controller"].ToString() == "Home" && ViewContext.RouteData.Values["action"].ToString() == "Index")
            {
                <div class="searchcontainer">
                    <input type="text" id="searchInput" placeholder="Search..">
                    <div class="result">
                        <ul>
                        </ul>
                    </div>
                </div>
            }





        </div>

        <div class="userinfo">
            <p>|</p>
            <a asp-controller="Account" asp-action="Login">
                <i class="far fa-user"></i>
            </a>
            <a asp-controller="Home" asp-action="Favorite">
                <i class="far fa-heart"></i>
                <div class="numberofproduct">@ViewBag.Count[1]</div>
            </a>
            <a asp-controller="Home" asp-action="Basket" class="basket">
                <i class="fas fa-shopping-basket"></i>
                <div class="numberofproduct">@ViewBag.Count[0]</div>
            </a>
        </div>

    </div>
</header>


