@model UserVM

@{
    ViewData["Title"] = "ChangePassword";
}

<div class=" row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-title">@Model.FullName</p>
                <p class="font-weight-500">@Model.Email</p>
                <a asp-action="Index">Go Back</a>
                <div class="mt-3">
                    <form class="forms-sample" method="post">
                        <input type="password" name="NewPassword" placeholder="New Password" />
                        <button type="submit" class="btn btn-danger mr-2">Change Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

