@model Specs
@{
    ViewData["Title"] = "Update";
}

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Create New Specs</h4>
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <form class="forms-sample" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="Producer">Producer</label>
                        <input class="form-control" asp-for="ProducerValue" id="Producer">
                        <span class="text-danger" asp-validation-for="ProducerValue"></span>
                    </div>
                    <div class="form-group">
                        <label for="ProductionYear">ProductionYear</label>
                        <input class="form-control" asp-for="ProductionYearValue" id="ProductionYear">
                        <span class="text-danger" asp-validation-for="ProductionYearValue"></span>
                    </div>
                    <div class="form-group">
                        <label for="Type">Type</label>
                        <input class="form-control" asp-for="TypeValue" id="Type">
                        <span class="text-danger" asp-validation-for="TypeValue"></span>
                    </div>
                    <div class="form-group">
                        <label for="OS">OS</label>
                        <input class="form-control" asp-for="OSValue" id="OS">
                        <span class="text-danger" asp-validation-for="OSValue"></span>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Create</button>
                    <a class="btn btn-light" asp-controller="Spec" asp-action="Index">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_Validation" />
}


