@model IEnumerable<Slider>
@{
    ViewData["Title"] = "Index";
}
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Image
                                </th>
                                <th>
                                    URL
                                </th>
                                <th>
                                    IsActive
                                </th>
                                <th>
                                    IsDeleted
                                </th>
                                <th>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Slider item in Model)
                            {
                                <tr>
                                    <td>
                                        <img src="~/img/@item.Image" onerror="this.onerror=null;this.src='/img/deleted.png'"/>
                                    </td>
                                    <td>
                                        @item.Url
                                    </td>
                                    <td>
                                        @if (item.IsActive == true)
                                        {
                                            <i class="mdi mdi-check" style="font-size: 30px; color: #71C016;"></i>
                                        }
                                        else
                                        {
                                            <i class="mdi mdi-close" style="font-size: 30px; color: #FF4747;"></i>
                                        }
                                    </td>
                                    <td>
                                        @if (item.IsDeleted == true)
                                        {
                                            <i class="mdi mdi-check" style="font-size: 30px; color: #71C016;"></i>
                                        }
                                        else
                                        {
                                            <i class="mdi mdi-close" style="font-size: 30px; color: #FF4747;"></i>
                                        }
                                    </td>
                                    <td>
                                        @if (item.IsDeleted != true)
                                        {
                                            <a class="btn btn-warning" asp-action="Update" asp-route-id="@item.Id">
                                                <i class="mdi mdi-pencil"></i>
                                            </a>
                                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">
                                                <i class="mdi mdi-delete"></i>
                                            </a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>